.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f0f0;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.App-header {
  padding: 20px;
}

form {
  margin: 20px 0;
}

input[type='text'] {
  padding: 10px;
  margin: 5px 0;
  width: 300px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
}

.toggle-dark-mode {
  margin-bottom: 20px;
}

.file-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.file-types label {
  margin: 5px;
  display: flex;
  align-items: center;
}

.output-container {
  margin: 20px 0;
}

.outputArea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
}
